<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.exceldown.mapper.UserMapper">
    <select id="excelDownloadSelectId"
            parameterType="java.util.Map"
            resultType="com.excel.exceldown.domain.PersonData">
        /* excelDownloadMapper.excelDownloadSelectId */
        select
           id
         , name
         , age
         , gender
        from person
    </select>
</mapper>